$colors-white: #FFFFFF;
$colors-soft-gray: #A5A9AE;
$colors-gray: #46535D;
$colors-dark: #000000;
$colors-soft-dark: #29292e;
$colors-blue: #4066D6;
$colors-loader-blue: #3498db;
$colors-orange: #F9826C;

