@import './colors.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: $colors-white;
    color: $colors-soft-dark;
  }
  
  body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
  }